[submodule "external/harmony3/bsp"]
	path = external/harmony3/bsp
	url = https://github.com/Microchip-MPLAB-Harmony/bsp
[submodule "external/harmony3/core"]
	path = external/harmony3/core
	url = https://github.com/Microchip-MPLAB-Harmony/core
[submodule "external/harmony3/crypto"]
	path = external/harmony3/crypto
	url = https://github.com/Microchip-MPLAB-Harmony/crypto
[submodule "external/harmony3/csp"]
	path = external/harmony3/csp
	url = https://github.com/Microchip-MPLAB-Harmony/csp
[submodule "external/harmony3/dev_packs"]
	path = external/harmony3/dev_packs
	url = https://github.com/Microchip-MPLAB-Harmony/dev_packs
[submodule "external/harmony3/net"]
	path = external/harmony3/net
	url = https://github.com/Microchip-MPLAB-Harmony/net
[submodule "external/harmony3/wolfssl"]
	path = external/harmony3/wolfssl
	url = https://github.com/Microchip-MPLAB-Harmony/wolfssl
[submodule "external/harmony3/quick_docs"]
	path = external/harmony3/quick_docs
	url = https://github.com/Microchip-MPLAB-Harmony/quick_docs
[submodule "external/harmony3/CMSIS_5"]
	path = external/harmony3/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
